<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.8, initial-scale=1.8, maximum-scale=1.8,minimum-scale=1.8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main Page</title>
    
</head>
    <body>
        <h4>mainPage</h4>
        <p>mustache파일은 new에서 file로 생성 직접 .mustache를 붙여 만든다. 생성한 파일은 비어있으며 빈 파일에 doc를 입력후 tab키를 누르면 자동으로 기본 태그가 완성 된다.</p>
    </body>

</html>